header{
    background-color: ivory;
    color: rgb(8, 6, 2);
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0
}

.cabeçalho-lista-item{
display: inline-block;
margin: 0 50px;
font-size: 40px;

}

.gokublack{
    width: 25%;




}


.black{
 background-image: linear-gradient(ivory);


}