body{
margin: 0;
padding: ;


 background-color: rgb(255, 174, 0);
 color: rgb(8, 6, 2);
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 24px 0;


}

.cabeçalho-imagem{
    width: 50%;

}

.cabeçalho-imagem{
display: inline-block;
margin: 0 16px;

}